@import url('https://fonts.googleapis.com/css2?family=Lato&family=Old+Standard+TT&family=Roboto:wght@700&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #222222;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

ul,
li,
a {
	list-style: none;
}

.header {
	width: 100%;
	height: 540px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header__container {
	margin: 0 auto;
	display: flex;
	align-items: center;
	margin: 0 250px;
	justify-content: space-between;
	padding-top: 28px;
}

.logo__title {
	font-size: 24px;
	line-height: calc(30 / 24 * 100%);
	color: #FFFFFF;
}

.nav {
	display: flex;
}

.nav__lists {
	text-transform: uppercase;
}

.nav__link--active {
	font-size: 11px;
	line-height: calc(17 / 11 * 100%);
	letter-spacing: 1px;
	color: #00D6B4;
}

.nav__link {
	font-size: 11px;
	line-height: calc(17 / 11 * 100%);
	letter-spacing: 1px;
	color: #999999;
}

.build__container {
	margin: 0 auto;
	padding-top: 140px;
}

.text {
	text-align: center;
}

.text__title {
	font-size: 48px;
	line-height: calc(53 / 48 * 100%);
	color: #FFFFFF;
}

.action__button {
	font-size: 13px;
	line-height: 19px;
	text-transform: uppercase;
	color: #00D6B4;
	padding: 10px 26px;
	border: 1px solid #00D6B4;
}

.img-block__title {
	font-size: 25px;
	line-height: calc(30 / 25 * 100%);
	margin-left: 530px;
	color: #FFFFFF;
}

.img-block {
	display: flex;
	flex-wrap: wrap;
	margin-top: 33px;
	margin-left: 140px;
	margin-bottom: 80px;
}

.img-block__image {
	margin-right: 20px;
	margin-top: 20px;
}



.footer__text {
	text-align: center;
	margin: 35px 0;
}

.footer__title {
	font-size: 18px;
	line-height: calc(22 / 18 * 100%);
	text-transform: uppercase;
	color: #C2C2C2;
}

.footer__subtitle {
	font-size: 12px;
	line-height: calc(18 / 12 * 100%);
	color: #999999;
}